<!-- 
	Angular in 30min
	Jeremy Alles @jalpf

	1. Data Binding and Directives
	2. Filters
	3. Modules and Controllers
	4. Routes
	5. Factories
	6. Bonus
-->

<!DOCTYPE html>
<html ng-app="customerApp">
<head>
	<title>AngularJS demo in 30 minutes !</title>
	<link href="styles/animations.css" rel="stylesheet"/>
<head>
<!-- ng-init="customers=['Jeremy', 'Yohan', 'Guillaume']" -->
<body>
	<h1>AngularJS demo in 30 minutes !</h1> 
	
	<!--<div ng-controller="CustomerList">
		Search: <input type="text" ng-model="searchText"/>
		<br/>
		{{searchText}}
		<h3>Customers:</h3>
		<table>
			<tr ng-repeat="customer in customers | filter: searchText">
				<td>{{customer.name}}</td>
				<td>{{customer.total | currency}}</td>
			</tr>
		</table>
	</div>-->

	<div ng-view class="view-animation"></div>

	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-animate.js"></script>
	<script>
		var app = angular.module('customerApp', ['ngRoute', 'ngAnimate']);

		app.config(function($routeProvider){
			$routeProvider
			.when(
				'/',
				{
					controller: 'CustomerList',
					templateUrl: 'views/customerList.html'
				})
			.when(
				'/detail',
				{
					controller: 'CustomerDetail',
					templateUrl: 'views/customerDetail.html'
				});
		});

		app.controller('CustomerList', function($scope, $http) {
			// $scope.customers = ['Jeremy', 'Yohan', 'Guillaume'];
			/*$scope.customers = [
				{ id: 0, name: 'Jeremy', total: 149 },
				{ id: 1, name: 'Yohan', total: 79 },
				{ id: 2, name: 'Guillaume', total: 299 }
			];*/
			$http.get('/api/customers').success(function(data){
				$scope.customers = data;
			});
		});

		app.controller('CustomerDetail', function($scope){
			$scope.customer = { id: 2, name: 'Guillaume', total: 299 };
		});
	</script>
</body>
</html>